*
!.gitignore
!LICENSE
!README.md
!main.py
!helpers.py
!webapp
!webapp/**
node_modules
build
!sleep_logs.csv
!*.ipynb
!requirements.txt
!.env_sample
!.env_sample_docker
!Dockerfile
!start_docker.sh
!docker-compose.yml
!notifications.txt
!user_defined_crop_area.txt
!.dockerignore
!blanket_model
!blanket_model/**